
body {
  background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    color: #333;
    text-align: center;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 30px;
             margin-top: -9px;
             margin-bottom: 10px;
}

.main-header {
    font-size: 40px;
     font-family: 'Open sans', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

footer {
    background: rgb(26, 118, 186);
    height: 100px;
    position: relative;
    z-index: 9000;
}

.faq {
    margin-top: 30px;
}

.stick-bottom {
    margin-top: 100px;
    bottom:0;
    left: 0;
    right: 0;   
}

.red {
    background: none repeat scroll 0% 0% #000;
    opacity: 0.69;
    border-radius: 6px;
    margin-top: 102px;
    padding-bottom: 30px;
}

.right {
    text-align: left;
    margin-top: 12px;
    margin-left: 60px;
}

.right > li {
    font-size: 18px;
    
}

.white {
    background: white;
    margin-top: 20px;
}

.font-white{
    color: white;
}

.purple {
    background: yellow;
}

.blue {
    background: blue;
    
}


.four-horizontal-seperator {
    height: 3px;
    width: 90%;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 30%;
}
.four-horizontal-seperator-b {
    height: 3px;
    width: 90%;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 30%;
}

.seperator {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}


.about-seperator {
    height: 1px;
    width: 30%;
    background: white;
    margin: 0 auto;
    border-radius: 50%;
}


.mid-sep {
  background: #f2f2f2;   
  height: 6px;
  margin-top: 40px;
}

.left-border {
    border-right: 2px solid #f2f2f2;
    height: 80%;
    position: absolute;
    right: 0;
    top: 5%;
    border-radius: 30%;
}


.left-border-bottom {
    border-right: 2px solid #f2f2f2;
    height: 80%;
    position: absolute;
    right: 0;
    top: 15%;
    border-radius: 30%;
    
}

.friends-background {
    background: url("../img/friends-phones.png") no-repeat scroll center center / cover #000;
    width: auto;
    margin: 80px 0;
    height: 500px;
    border-top: 8px solid #f3f3f3;
    border-bottom: 8px solid #f3f3f3;

}


.play-button {
    margin-bottom: 50px;
}

.feedback {
    margin-top: 30px;
}

.review {
    font-style:  italic;
    padding-bottom: 50px;
    background: white;
    margin-top: 20px;
    font-size: 20px;
}

.white-border-bottom {
    border-bottom: 1px white solid;
    padding-bottom: 50px;
}

.learn-more {
    font-size: 16px;
}

.four-icon {
margin-bottom: 1px;
margin-top: 45px;
height: auto;
width: 25%;

}

.bottom-space {
    margin-bottom: 40px;
}


.download {
    margin-top: 50px;
    padding: 18px 35px 18px 83px;
    font-size: 30px;
}

.footer > li {
    display: inline;
    color: white;
}

.footer > li > a {
    color: white;
}

.footer {
    margin-top: 30px;
    text-align: center;
}

.footer-bottom {
    position: relative;
    margin-top: 270px;
}

.footer-position > li {
    margin: 0 auto;
    margin: 0 12px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    color: white;

}

.align-icons {
  text-align: center;
}

.footer-icon {

    margin-left: 10px;
    width: 15%;
    max-width: 40px;
    margin-top: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.footer-icon:hover {
    -webkit-transform: scale(1.27);
    -moz-transform: scale(1.27);
    -o-transform: scale(1.27);
    -ms-transform: scale(1.27);
    transform: scale(1.27);
}



.download:hover {
    background: white;
}


.top-btn{
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    margin: 0 10px;
    margin-top: 12px;
    transition: .41s;

}


.top-btn:hover {
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 2.0px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 2.0px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 2.0px 0 rgba(0,0,0,0.75);
    
}

.btn-warning {
    border-color: #f2f2f2;
}


.call-to-action {
    background: rgb(36, 165, 220);
    color: white;
    -webkit-transition: .4s;
       -moz-transition: .4s;
        -ms-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
 }

 .call-to-action:hover {
    color: white;
    background: rgb(17, 117, 188);
 }

.sign-in-btn {
    background: white;
    color: black;
    padding: 10px 50px;
}

.mg-bt {
    padding: 10px;
    color: white;
}

.icon-photo {
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;

}

h8 {
    color: white;
    font-size: 30px;
}



section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}



/*-------------------------------
       Carousel Fade Transition   
        2nd Carousel
-------------------------------*/

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #1A76BA;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.carousel {
  margin-bottom: 40px;
}




.extra-info {
    color: white;
    margin-top: 44px;    
    font-size: 20px;
    line-height: 32px;

}

.about {
    padding-bottom: 20px;
}

.about-font {
    font-size: 18px;
}

.question {
    color: rgb(36, 165, 220);
    font-size: 20px;
}

.centered {
    text-align: center;
}

.extra-height{
    padding: 80px 20px;
}

.btn-space {
    margin-top: 50px;
}



.hero-button {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  padding: 10px 35px 10px 83px;
  width: 170px;
  border: none;
  font: normal 20px/2.4 "Open Sans" ;
  color: white;
  text-transform: capitalize;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(36, 165, 220);
  -webkit-transition: .51s;
     -moz-transition: .51s;
      -ms-transition: .51s;
       -o-transition: .51s;
          transition: .51s;
}

.hero-button:hover {
  background: rgb(17, 117, 188);
  -webkit-transition: .51s;
     -moz-transition: .51s;
      -ms-transition: .51s;
       -o-transition: .51s;
          transition: .51s;
      color: white;
}

.hero-button:active {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 0 rgba(80,105,155,1) ;
  box-shadow: 0 3px 0 0 rgba(80,105,155,1) ;
}

.hero-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 70px;
  height: 100%;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.42);
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../img/download-icon.png"), rgba(0,0,0,0.05);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 30px auto;
  background-size: 30px auto;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}








/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar-default {
	background-color: white;
	border-color: transparent;
            height: 70px;
}

.navbar-default .navbar-toggle {

    border-color: #f1f1f1;
    margin-top: 15px; 
    margin-right: 20px;
    transition: .41s;
}


.brand {
    width: 200px;
}

.hero-smartphone {
   width: 288px;
   margin-left: 30px;
   z-index: 0;
   position: absolute;
   top: 0;
   margin-top: 130px;
}

.phone-holder {
    margin-bottom: -190px;
    z-index: 1;
}

.main-arrow {
  position: absolute;
  top: 88%;
  width: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: .8;

  
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.md {
    width: 80%;
    margin: 0 auto;
    z-index: 300;
    background: transparent;
    padding-top: 15px;
}


.mt {
    margin-top: 60px;
    margin-bottom: 60px;

}

.bt {
    margin-top: 30px;
}



.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
	background: url("../img/cpu.png") no-repeat center top; 
	background-color: black;
	background-attachment: relative;
	background-position: center center;
	min-height: 150px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap .main-header {
margin-bottom: 5px;
color: white;
font-size: 68px;
padding-top: 100px;
font-variant: small-caps;
font-weight: bold;


}


/* PlanWrap */
#planwrap {
  background: url("../img/plan.png") no-repeat center top; 
  background-color: black;
  margin-top: 1px;
  padding-top: 390px;
  background-attachment: relative;
  background-position: center center;
  min-height: 150px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.rest > h1 {
    margin-bottom: 35px;
    font-size: 40px;
}


.rest {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    z-index: 200;
    border-bottom: 7px solid #f3f3f3;
}
.left-anim {
    background-size: 45%;
    width: 30%;
    max-width: 500px;
    min-width: 200px;
    height: 400px;
    float: left;
    position: absolute;
    z-index: -200;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -280px;  
}

.right-anim {
    background-size: 45%;
    width: 30%;
    max-width: 500px;
    min-width: 200px;
    height: 400px;
    float: left;
    position: absolute;
    z-index: -200;
    right: 0;
    margin: 0 auto;
    margin-top: -180px;
}


.lock  {
    width: 50px;
    height: 50px;
    background: red;
    margin: 0 auto;
}

.lockk  {
    width: 80px;
    height: 130px;
    margin: 0 auto;
    background: url('../img/lock.png') ;
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0;
    position: relative;
}

.lock-circle {
    background: #24A5DC;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    z-index:-10;
    margin: 0 auto;
    padding-top: 15px;
    border: 7px solid #f3f3f3;
    opacity: 0;
}

.phone-info {
    background: red;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}

#sync {
    width: 240px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: 20px;
    z-index: -20;
    margin-top: -30px;
}

#scan {
    width: 280px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: -30px;
}

#safe {
      width: 270px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin: -42px 20px 0px auto;
    z-index: -20;
}

#secure {
     width: 340px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: -30px;
}

#sense {
     width: 245px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: 20px;
    margin-top: -40px;

}

/* FAQ Wrap */
#faqwrap {
    background: url('../img/telemarketer.jpg') no-repeat scroll center center / cover #000;
    margin-top: 80px;
    background-attachment: relative;
    min-height: 300px;
    width: 100%; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* About Wrap */
#aboutwrap {
    background: url('../img/office.png') no-repeat center top; 
    background-color: black;
    margin-top: 3px;
    padding-top: 90px;

    background-attachment: relative;
    background-position: center center;
    min-height: 450px;
    width: 100%;
     
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Product Wrap */
#productwrap {
    background: url('../img/subway.jpg') no-repeat scroll center center / cover #000;
margin-top: -40px;
    background-color: black;
    margin-top: 3px;
    padding-top: 50px;
    background-attachment: relative;
    min-height: 500px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.slideUpRetourn {
  -webkit-animation-name: slideUpRetourn;
  -moz-animation-name: slideUpRetourn;
  -ms-animation-name: slideUpRetourn;
  -o-animation-name: slideUpRetourn;
  animation-name: slideUpRetourn;
}


@-moz-keyframes slideUpRetourn {
  0% {
    opacity: 0;
    -moz-transform-origin: 0 0;
    -moz-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -moz-transform-origin: 0 0;
    -moz-transform: translateY(0%);
  }
}
@-webkit-keyframes slideUpRetourn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@-o-keyframes slideUpRetourn {
  0% {
    opacity: 0;
    -o-transform-origin: 0 0;
    -o-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -o-transform-origin: 0 0;
    -o-transform: translateY(0%);
  }
}
@-ms-keyframes slideUpRetourn {
  0% {
    opacity: 0;
    -ms-transform-origin: 0 0;
    -ms-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -ms-transform-origin: 0 0;
    -ms-transform: translateY(0%);
  }
}





/* Sections section */
.sync {
    height: 350px;
    padding-top: 60px;
}

.scan {
    background: rgb(26, 118, 186);
    height: 350px;
    padding-top: 60px;
    color: white;
    position: relative;
    z-index: 200;
  
}

.scan>h1{
    color: white;
}

.secure {
    background: rgb(26, 118, 186);
    height: 350px;
    padding-top: 60px;
    color: white;
    position: relative;
    z-index: 900;
}

.safe {
    height: 350px;
    padding-top: 60px;
    position: relative;
    z-index: 900;
    background: white;
}

.sense {
    height: 370px;
    padding-top: 60px;
    background: white;
    position: relative;
    z-index: 900;
}


.social {

    text-align: center;
    width:100%;
    height: 20px;
}

.fit-models {
  width: 100%;
  height: auto;
}

.plan-space {
  margin: 20px 0;
  color: black;
  font-size: 40px;
}

.plan-ahead {
  color: white;
  padding: 40px 0;
}


/* Signin Box */

.login-box-anim {
      -webkit-animation: slideUpRetourn .81s;
         -moz-animation: slideUpRetourn .81s;
           -o-animation: slideUpRetourn .81s;
              animation: slideUpRetourn .81s;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
}
.account-wall {
    margin-top: 20px;
    border-radius: 40px;
    padding: 40px 0px 20px 0px;
    border: 7px solid #F3F3F3;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    height: 1em;
}
.profile-email {
    display: block;
    padding: 0 8px;
    font-size: 15px;
    color: #404040;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.need-help
{
    display: block;
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.signin-box {
  width: 500px;
  height: 500px;
  background: white;
  display: none;
  margin: 0 auto;
}

.appear {
  display: block;
}









/*  ---------------------------------------------
------------------------------------------------
------------------------------------------------
--------------Media Queries----------------------
------------------------------------------------
------------------------------------------------ 
*/



/*  1st break from media queries */
@media (max-width: 995px) {
  .left-border{
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        transition: 1.5s;
        opacity: 0;
    }

  .left-border-bottom {    
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
        transition: 1.5s;
        opacity: 0;
  }

.four-icon {
    height: auto;
    width: 25%;
    }

    .hero-smartphone {
        display: none;
    }

    .phone-info-screenshot {
        display: none;
    }
}


  

@media (min-width: 995px) {
    .four-horizontal-seperator-b {
        display: none;
    }

}

/*  Smallest size */
@media (max-width: 480px) {
    h8 {
        font-size: 17px;
    }
    
    .mg-bt {
        font-size: 33px;
    }

    .friends-background {
        height: 456px;
    }

    #headerwrap .main-header {
        font-size: 40px;
        margin-top: 12px;
        
    }
    h6.extra-info {
        font-size: 15px;
        line-height: 22px;
    }

    .footer-position {
        margin: 0 auto;
        padding-top: 20px;
    }

    .font-size {
        font-size: 120px;
    }

    h1.h1-font{
        font-size: 32px;
        margin-top: -20px;
    }

    .right>li{
        font-size: 14px;
        text-align: left;
    }
    .right {
    text-align: left;
    margin-top: 12px;
    padding: 0 2px;
    margin-left: 15px;
    }

    h4 {
        font-size: 20px;
    }

    footer {
        height: 150px;
    }

    .copyright {
        font-size: 10px;
    }
    .red{
    background: none repeat scroll 0% 0% #000;
    padding-top: 192px;
    padding-bottom: 115px;
    opacity: 0.69;
    border-radius: 6px;
    margin-top: -82px;
    }
}

@media (max-width: 763px) {
    footer {
        height: 170px;
    }

    .copyright {
        font-size: 12px;
    }

   .footer-position {
        margin: 0 auto;
        padding-top: 20px;
        margin-left: -40px;

    }

.red{
padding-top: 396px;
opacity: 0.69;
padding-bottom: 209px;
border-radius: 6px;
margin-top: 0;
 }
}


@media (max-width: 1200px) {
    .red{
    background: none repeat scroll 0% 0% #000;
    padding-top: 180px;
    padding-bottom: 83px;

    opacity: 0.69;
    border-radius: 6px;
    margin-top: -82px;
    }
  }

